<%= form_with url: save_edited_stocks_stocks_path do |f| %>
  <table>
    <% @stocks.each_with_index do |stock, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= text_field_tag "stock[#{index}][ticker_symbol]", stock.ticker_symbol, placeholder: '-', size: 4 %></td>
        
        <td>
          <% if stock.financial_reports.any? %>
            <%= link_to 'detail', stock_financial_report_path(stock, stock.financial_reports.last) %>
          <% else %>
            <%= link_to 'No reports available', new_stock_financial_report_path(stock) %>
          <% end %>
        </td>
        
        <td><%= link_to 'edit', edit_individual_stock_path(stock) %></td>
        <td><button type="button" onclick="deleteStock(this)">delete</button></td>
      </tr>
    <% end %>
    <% (15 - @stocks.count).times do |i| %>
      <tr>
        <td><%= i + @stocks.count + 1 %></td>
        <td><%= text_field_tag "stock[#{i + @stocks.count}][ticker_symbol]", '', placeholder: '-', size: 4, disabled: true %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </table>
  <%= f.submit "SAVE" %>
<% end %>
